﻿@model IEnumerable<labfinal.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="friendTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @if (User.IsInRole("User") == false)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                }
                @if (User.IsInRole("User") == false)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                }

                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>


@section scripts{
    
    <script>
        $(document).ready(function () {
            $("#deleteBtn").on("click", function () {
                alert("Clicked");
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/Friends/Delete/",
                    success: function () {
                        alert("hehe");
                    },
                    error: function () {
                        alert("no no");
                    }
                });
            });
        });
    </script>
}